nav {
    background-color:#2E835F;
}

.navbar-nav {
    margin-left: 75%;
}

.navbar-brand {
    color : white;
    margin-right: 20px;
    margin-bottom: 5px;
}

.navbar-brand:hover {
    border-bottom: 2px solid white;
    color : white;
    margin-bottom: 5px;
}

.nav-link {
    color : white;
    margin-right: 20px;
    margin-bottom: 5px;
}

.nav-link:hover {
    border-bottom: 2px solid white;
    color : white;
    margin-bottom: 5px;
}

body {
    background-color: rgb(238, 238, 238);
}

.graph-container {
    width: 20%;
    height: 20%;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
