nav {
    background-color: white;
}

.navbar-nav {
    margin-left: 80%;

}

.nav-link {
    color: black;
    margin-right: 20px;
}

.nav-link:hover {
    color: rgb(102, 204, 153);
}

body {
    background-color: rgb(238, 238, 238);
}

.graph-container {
    width: 20%;
    height: 20%;
}
