/* Navbar */
nav {
    background-color: white;
}

.navbar-nav {
    margin-left: 75%;

}

.nav-link {
    color: black;
    margin-right: 20px;
}

.nav-link:hover {
    color: rgb(102, 204, 153);
}


body {
    background-color: rgb(238, 238, 238);
}

/* Cart for solde*/
.solde {
    color: rgb(108, 122, 137);
    margin-left: 35%;
    font-size: 40px;
}

/* Buttons for Recent Transactions*/
/* For h5*/
.card-title {
    color: rgb(102, 204, 153);
}

.all-transactions {
    border: none;
    margin-right: 8px;
    margin-left: 20%;
    border-radius: 10px;
    background-color: #848ccf;
    color: #f7f9f7;
}

.credits {
    border: none;
    margin-right: 8px;
    border-radius: 10px;
    background-color: rgb(102, 204, 153);
    color: #f7f9f7;
}

.debits {
    border: none;
    border-radius: 10px;
    background-color: #ec644b;
    color: #f7f9f7;
}

/* For h6 and the Transaction content*/
.col-4 {
    color: rgb(108, 122, 137);
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
