nav {
    background-color:#2E835F;
}

.navbar-nav {
    margin-left: 75%;
}

.navbar-brand {
    color : white;
}

.nav-link {
    color : white;
    margin-right: 20px;
}

.nav-link:hover {
    color: rgb(102, 204, 153);
}

body {
    background-color: rgb(238, 238, 238);
    overflow-x: hidden;
}

h3 {
    text-align: center;
    margin-top: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    margin-top: 20px;
}
  

.saveBtn.btn.btn-primary, .saveBtn.btn.btn-primary:hover  {
    color : white;
}
  
.successfully-saved {
    text-align: center;
    display: none;
    margin-top: 10px;
    color: #1B7C18;										
    border-radius: 5px;
    border: 2px solid #1B7C18;
    padding: .5em .75em;
    background: #D6F8DD;
    width: 25%;
    margin-top: 20px;
    position: relative;
}