<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/transactions.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/transactions.css">
    <title>Create Account</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('index')}}">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="{{url_for('create_account')}}">New Account</a>
                <a class="nav-link" href="{{url_for('transactions')}}">Transactions</a>
                <a class="nav-link" href="{{url_for('signup')}}">Signup</a>
                <a class="nav-link" href="{{url_for('login')}}">Login</a>
                <a class="nav-link" href="{{url_for('profile')}}">Profil</a>
            </div>
          </div>
        </div>
    </nav>
    <div>
        {% if user %}
        <div class="transactions container mt-4">
            <h3>Create a new account</h3>
            <form method="POST" action="/create_account" class="newAccountForm">
                <div class="form-group">
                    <label for="name" class="form-label">Account Type</label>
                    <select class="form-control" name="name" id="name">
                        <option value="livret_a">Livret A</option>
                        <option value="livret_dds">Livret de Développement Durable et Solidaire (LDDS)</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="input_description">Ammount</label>
                    <input type="text" class="form-control" name="solde" id="solde" placeholder="Enter transfer ammount for new account">
                </div>
                <div class="saveButton">
                    <button class="saveBtn btn btn-primary" type=submit/>Submit</button><br/>
                    <span class="successfully-saved">New account created sucessfully</span>
                </div>                        
            </form>
        </div>
        {% else %}
        <h3>Veuillez vous connecter pour accéder à cette page</h3>
        {% endif %}
    </div>
</body>
</html>