<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">

    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('index')}}">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="{{url_for('create_account')}}">New Account</a>
                <a class="nav-link" href="{{url_for('transactions')}}">Transactions</a>
                <a class="nav-link" href="{{url_for('signup')}}">Signup</a>
                <a class="nav-link" href="{{url_for('login')}}">Login</a>
                <a class="nav-link" href="{{url_for('profile')}}">Profil</a>
            </div>
          </div>
        </div>
    </nav>
    <div>
        {% if user %}
        <div id="accounts" accounts_list="{{ accounts_list }}"></div>

        <div class="username">Hello {{ user.first_name }} {{ user.last_name }}</div>

        <div class="card" style="position: absolute; width: 55rem; margin-left: 50%;">
            <div class="card-body">
                <canvas id="line-graph" credits_for_year="{{ credits_for_year|safe }}" debits_for_year="{{ debits_for_year|safe }}"></canvas>
            </div>
        </div>

        <div class="card" style="position: absolute; width: 25rem; top: 50%; left: 5%;">
            <div class="card-body">
                <h5 class="card-title">Monthly Income Spent</h5>
                <canvas id="circular-graph" credits="{{ credits }}" debits="{{ debits }}" ></canvas>
            </div>
        </div>

        <div class="card" style="position: absolute; width: 25rem; top: 35.4%; left: 5%;">
            <div class="card-body">
                <h5 class="card-title">Solde
                    <p class="solde" id="show_solde"></p>
                </h5>
            </div>
        </div>

        <div class="card" style="position: absolute; width: 33rem; top: 60%; left: 68.4%;">
            <div class="card-body">
                <h5 class="card-title">Recent Transactions
                    <button class="all-transactions" onclick="showAllTransactions()">All</button>
                    <button class="credits" onclick="showTransactions('credit')">Credits</button>
                    <button class="debits" onclick="showTransactions('debit')">Debits</button>
                </h5>
                <div class="row justify-content-between">
                    <div class="col-4">
                        <p class="text-left" style="padding-left: 10px;">Merchant</p>
                    </div>
                    <div class="col-4">
                        <p class="text-center">Date</p>
                    </div>
                    <div class="col-4">
                        <p class="text-right" style="padding-right: 10px;">Amount</p>
                    </div>
                </div>
                <div id="transactions-container">
                    {% for i in range(1, 7) %}
                    <div class="row justify-content-between transaction">
                        <div class="col-4">
                            <p class="text-left" style="padding-left: 10px;"></p>
                        </div>
                        <div class="col-4">
                            <p class="text-center"></p>
                        </div>
                        <div class="col-4">
                            <p class="text-right" style="padding-right: 10px;"></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="card" style="position: absolute; width: 22rem; top: 60%; left: 50%;">
            <div class="card-body">
                <h5 class="card-title">Saving
                    <p class="solde" id="show_monthly_saving"></p>
                    <form method="POST" action="/monthly_saving">
                        <input type="number" name="saving">
                        <button type="submit">Save</button>
                    </form>
                </h5>
            </div>
        </div>
               
        {% else %}
        <h3>Veuillez vous connecter pour accéder à cette page</h3>
        {% endif %}
    </div>
    <div class="footer">
        <p>© 2023 - Online Bank - All rights reserved</p>
    </div>
    <script src="{{url_for('static', filename='graph.js')}}"></script>
</body>
</html>